<%= render 'layouts/header' %>

<div class="aboutBox">
  <h1> About </h1>

  <h2> Description </h2>
  <p>
    <strong>ucbplan</strong> is an application that provides a more convenient and functional                 way to         view current and upcoming events at UC Berkeley.

    Create an account to customize which categories you will see on the front page.
  </p>

  <p>
    Soon, you'll be able to star events and get reminders!
  </p>

  <p>
    We're also planning to include student organization events from     Facebook.
  </p>

  <h2>Team</h2>
  <p>

  <div id="pierre">
    <span><%= image_tag("pierre.png", width: '150', height: '150', :class => "img")%>
    </span>
    <span>
      <div><strong>Pierre Karashchuk</strong></div>
      <div><a href="mailto:pierre@berkeley.edu">pierre@berkeley.edu</a></div>
    </span>
  </div>
  </br>

  <div id="luba">
    <span><%= image_tag("luba.png", width: '150', height: '150', :class=> "img")%>
    </span>
    <span>
    <div><strong>Luvsanbyamba Buyankhuu (Luba)</strong></div>
    <div><a href="mailto:luba.buya@berkeley.edu">luba.buya@berkeley.edu</a></div>
  </span>
  </div>
  </br>

  <div id="derrick">
    <span><%= image_tag("derrick.png", width: '150', height: '150', :class=>"img")%>
    </span>
    <span>
    <div><strong>Derrick Mar</strong></div>
    <div><a href="mailto:derrickmar1215@berkeley.edu">derrickmar1215@berkeley.edu</a></div>
  </span>
  </br>
  </div>

  </p>    
  
  
  <h2> Contact </h2>

  <p>
    <strong>Email:</strong>
    <a href="mailto:ucbplan@gmail.com">ucbplan@gmail.com</a>
    
    
  </p>
  
</div> 

