<%= render 'layouts/header' %>

<div class="aboutBox">
  <h1> About </h1>

  <h2> Description </h2>
  <p>
    <strong>ucbplan</strong> is an application that provides a more convenient and functional                 way to         view current and upcoming events at UC Berkeley.

    Create an account to customize which categories you will see on the front page.
  </p>

  <p>
    Soon, you'll be able to star events and get reminders!
  </p>

  <p>
    We're also planning to include student organization events from     Facebook.
  </p>

  <h2>Team</h2>
  <p>
    <strong>Pierre Karashchuk</strong> &#8212;
    <a href="mailto:pierre@berkeley.edu">pierre@berkeley.edu</a>
    <br/>
    
    <strong>Luvsanbyamba Buyankhuu (Luba)</strong> &#8212;
    <a href="mailto:luba.buya@berkeley.edu">luba.buya@berkeley.edu</a>
    <br/>
    
    <strong>Derrick Mar</strong> &#8212;
    <a href="mailto:derrickmar1215@berkeley.edu">derrickmar1215@berkeley.edu</a>
  </p>    
  
  
  <h2> Contact </h2>

  <p>
    <strong>Email:</strong>
    <a href="mailto:ucbplan@gmail.com">ucbplan@gmail.com</a>
    
    
  </p>
  
</div> 

