<html>

<head>
<title> Bplan </title>
<link rel="stylesheet" type="text/css" href="/Users/Luba/Desktop/bplan/style.css">
</head>

<body>

<div id="title">
<span id="bplan">
	Bplan
</span>
<span id="see">
	See all events at one place
</span>
</div>

<span id="today">
	 Events for Today 
	</span>
	<span id="upcoming">
	Upcoming Events
</span>

<div class="row">

  <div class="col-md-6 eventColumn">
	<li>
		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  	<li>
  		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  	<li>
  		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  	<li>
  		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  	<li>
  		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  </div>

  <div class="col-md-6 eventColumn" >
<li>
  		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  	<li>
  		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  	<li>
  		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  	<li>
  		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  	<li>
  		<div class="bigEvent">

  		<div class="events"> Event1 </div>
  		<div class="date">Date: </div>
  		<div class="location">location:</div>
  		<div class="desc">Description:</div>
  		</div>
  	</li>
  </div>
</div>

	


</body>
</html>