<div class='Login' id='login'>

  <div id="formError" class="alert alert-danger Hidden">
    <% # rendered using react (via signup.js) %>
  </div>


  <div id="formSuccess" class="alert alert-success Hidden">
    <% # rendered using react (via signup.js) %>
  </div>


  
  <%= form_for(@user, url: users_path(@user), html: { id: 'userLoginForm' }) do |f| %>
  <%= f.email_field :email, placeholder: "Email" %>
  <br />
  <%= f.password_field :password, placeholder: "Password" %>
  <br />

  <% end %>

  <%= button_tag "Login", class: "btn btn-large btn-primary", id: "loginButton" %>

</div>

