<%= render 'layouts/header' %>

<div class="signUpContainer">
  <div class="middleLoginContainer">
  	<div class="LoginBox">
      <h1>Sign up </h1>
      <%= render 'layouts/signup_form' %>
    </div>
  </div>
</div> 