<%= render 'layouts/header' %>

<div class="loginContainer">
  <div class="middleLoginContainer">
  	<div class="LoginBox SignupBox">
      <h1>Sign up </h1>
      <p>
        Create an account to customize front-page categories and set reminders.
      </p>

      <%= render 'layouts/signup_form' %>
    </div>
  </div>
</div
