/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 *= stub user_mailer
 *= require font-kit-rails
 */

@import "bootstrap";

body {
  //background-color: #DCFFFA !important;
  //background-color: #E3FFFB !important;
  //background-color: #CEF3Ff !important;
  //background-color: #303030 !important;
  //overflow-x: hidden;
  //position: absolute;
  width: 100%;	
  //left: 0px;
  //background-color: #323232 !important;
  background-color: #ECF2C7 !important;
  //color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: image-url('bg.png'); */
  /* background-repeat: repeat; */

  //font-family: 'Lato', sans-serif !important;
  font-family: 'Open Sans', sans-serif !important;
}

// header
#title {
  //background-color: #004FC7;
  left: 0;
  background-color: #1C2045;
  // background-color: black;
  color:white;
  //padding-bottom: 20px;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: skyblue;
      text-decoration: none;
    }
    margin-right: 10px;
  }

  font-size: 20px;

  #rightLinks {
    float: right;
    margin-top: 6px;
  }

  padding-left: 10px;
  padding-right: 10px;

  #bplan {
    font-size: 30px;
  }
}

a {
  transition: color 300ms ease-out 0s;
}

// from http://css-tricks.com/snippets/css/glowing-blue-input-highlights/

input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px !important;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

