// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eventBox {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
