.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100%  0%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* for icons */
.star {
  float: right;
}

.vertical {
  float:left;
}

.tagger {
  position: relative;
  top: -6px;
  left: -12px;
  border-top-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 3px 6px;
  font-size: 12px;
  color: white
}

.itallic {
  font-style: italic;
}

.content {
  margin-top: 20px;
}

#today {
  text-align: center;
}

#upcoming {
  text-align: center;
}

.eventList {
  border-top: solid;
  padding-top: 10px;
  margin-top: 10px;

  li{
    list-style-type: none;
  }

}

/**
.sample {
  height: 60px;
  width: auto; 
}
*/

.events{
  font-size: 16px;
  font-weight: 500;
  //margin-bottom: -10px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;  
}

.white {
  background-color: white;
  width: auto;
  padding: 0px 3px;
  color: black;
  float: left;
}

.eventColumn{
  font-size: 150%;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}


.eventColon {
  font-weight: bold;
}

.bigEvent{
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 17px;
  color: black;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDFFF0;
  padding-left: 10px;
  padding-right: 10px;
  
  &:hover {
    cursor: pointer; cursor: hand;
    background-color: #ECF2C7;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.aboutBox {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;

  background-color: #FDFFF0;

  border-radius: 10px;

  h2 {
    font-size: 25px;
  }
  
}

h1 {
  text-align: center;
}
