.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100%  0%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.favform {
  float: right;
}

.star{
  width: 32px;
  height: auto;
  border: none;
  padding: 0;
}

.vertical {
  float:left;
}

.tagger {
  position: relative;
  top: -6px;
  left: -12px;
  border-top-left-radius: inherit;
  border-bottom-right-radius: inherit;
  //border-radius: inherit;
  //border-radius: 10px;
  padding: 3px 6px;
  font-size: 12px;
  color: white
}

.itallic {
  font-style: italic;
}

.content {
  margin-top: 20px;
}

#today {
  text-align: center;
}

#upcoming {
  text-align: center;
}

.eventList {
  border-top: solid;
  padding-top: 10px;
  margin-top: 10px;

  li{
    list-style-type: none;
  }

}

/**
   .sample {
   height: 60px;
   width: auto; 
   }
   */

.white {
  background-color: white;
  width: auto;
  padding: 0px 3px;
  color: black;
  float: left;
}

.eventColumn{
  font-size: 150%;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}


.bigEvent{

  border-radius: 3px;
  margin-bottom: 10px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 6px;
  color: black;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  //background-color: #FDFFF0;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
  /* cursor: pointer; cursor: hand; */
  /* background-color: #ECF2C7; */
  }

  .topright {
    float: right;
    display: flex;
    // opacity: 0;
  }



  .eventTitle {
    font-size: 16px;
    font-weight: 500;
    //margin-bottom: -10px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
    //text-decoration: underline;
    color: black;
    display: block;
    &:hover {
      color: #004FC7;
      //text-decoration: underline;
    }
  }

  .linkIcon {
    width: 18px;
    height: 18px;
    display: inline-block;
    
    margin-left: 5px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: image-url("icons.png");
  }

  .gcalLink, .gcalLinkChosen {
    &:hover {
      background-position: -22px -2px
    }
  }

  .gcalLink {
    background-position: -42px -2px;
  }

  .gcalLinkChosen {
    background-position: -2px -2px;
    opacity: 1;
  }

  .emailLink, .emailLinkChosen {
    width: 18px;
    height: 12px;
    margin-top: 2px;

    &:hover {
      background-position: -83px -2px;
    }
  }

  .emailLink {
    background-position: -103px -2px;
  }

  .emailLinkChosen {
    opacity: 1;
    width: 19px;
    background-position: -62px -2px;
  }


  .smsLink, .smsLinkChosen {
    &:hover {
      background-position: -143px -2px;
    }
  }

  .smsLink {
    background-position: -163px -2px;
  }

  .smsLinkChosen {
    background-position: -123px -2px;
    opacity: 1;
  }

  .outLink {
    background-image: image-url('icons/outlink.png');

    &:hover {
      background-image: image-url('icons/outlink-selected.png');
    }
  }

  a {
    color: #0376C7;
    text-decoration: none;
    &:hover {
      color: #00258A;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .descLink {
    font-weight: bold;
    //cursor: pointer;

  }


  .desc {
    margin-top: 6px;

    .descShort {
      display: inline;
      font-style: italic;
      font-weight: normal;

      &:hover {
        color: #00258A;
        cursor: pointer;
      }

    }

    .Hidden {
      display: none;
    }

    .hideDesc {
      font-weight: normal;
      font-style: italic;
      margin-right: auto;
    }
    
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  height: 1.5em;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}


.aboutBox {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 1px;
  margin-top: 15px;
  margin-bottom: 50px;

  background-color: #FDFFF0;
  border-radius: 20px;

  h1 {
    margin-top: 5px;
  }
  
  h2 {
    font-size: 25px;
    text-align: center;
  }

  .text {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
  
  #team {
    text-align: center;
    display: block;
  }


  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 8px;
  }

  a {
    color: #004FC7;
    text-decoration: none;
    &:hover {
      color: #3183FF;
      text-decoration: none;
    }
  }


}

h1 {
  text-align: center;
}

.Hidden {
  opacity: 0;
  display: none;
}


