// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Hidden {
  display: none;
}

.loginContainer {

  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  // background-color: #C6E0E1;
}


.middleLoginContainer {
  display: table-cell;
  //vertical-align: middle
}

.alert {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: left;
  
}


.LoginBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 400px;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  padding-bottom: 150px;
  padding-top: 100px;

  color: white;
  border-radius: 40px;

  background-color: #1375B2;


  input {
    color: black;
    width: 180px;
  }

  .alert {
    width: 300px;
  }

  /* .Login, .Signup { */
  /*   text-align: center; */
  /* } */

  #loginButton, #joinButton {
    width: 180px;
    margin-top: 5px;
    font-size: 16px;
    font-weight:bold;
    border-radius: 10px;
    color: black;
    background-color: #A5DCFF;
  }

}

.SignupBox {
  max-width: 500px;

  .alert {
    width: 400px;
  }

  p {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}


.GroupBox {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-bottom: 20px;

  background-color: #FDFFF0;
  border-radius: 20px;
  
  .GroupName {
    padding-left: 5px;
    padding-right: 5px;
    //border-radius: 3px;
    font-size: 16px;
  }

  .GroupList {
    text-align: left;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .saveButton {
    margin: 0 auto;
    margin-top: 10px;
  }

  .alert {
    width: 300px;
    color: darkgreen;
    text-align: center;
  }

  .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  p {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.ReminderBox {
  margin-top: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
