// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Hidden {
  display: none;
}

.loginContainer {

  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  // background-color: #C6E0E1;
}


.middleLoginContainer {
  display: table-cell;
  //vertical-align: middle
}

.alert {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
}


.LoginBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 400px;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  padding-bottom: 150px;
  padding-top: 100px;
  
  color: white;
  border-radius: 40px;

  background-color: #1375B2;

  
  input {
    margin-bottom: 3px;
    color: black;
    width: 180px;
  }

  .alert {
    width: 300px;
  }
  
  /* .Login, .Signup { */
  /*   text-align: center; */
  /* } */
  
  #loginButton, #joinButton {
    width: 180px;
    margin-top: 5px;
    font-size: 16px;
    font-weight:bold;
    border-radius: 10px;
    color: black;
    background-color: #A5DCFF;
  }

}

.SignupBox {
  max-width: 500px;

  .alert {
    width: 400px;
  }
}


// from http://css-tricks.com/snippets/css/glowing-blue-input-highlights/

input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
